.header
  .header__upper
    .header__title
      チャットグループ
    .header__edit
      %a.header__edit-link(href="")
        Edit
  .header__members
    %p.header__member-title
    %ul.header__members
      %li.member
        まいまい
