.header
  .header__upper
    .header__title
      チャットグループ
    .header__edit
      = link_to root_path, class:"right-header__button" do
        Edit
  .header__members
    %p.header__member-title
    %ul.header__members
      %li.member
        まいまい
