.header
 .header__left
  .group-name
   = @group.name
  .group-members
   メンバー
   - @group.group_users.each do |group_user|
    = group_user.user.name
 .header__right
  = link_to edit_group_path(@group) do
   EDIT
