.side-bar
  .header
    %h3.header__name まいまい
    %ul.header__menu
      %li
        =fa_icon("edit")
      %li
        =fa_icon("cog")
  .groups
    %ul
      %li.group
        %a.group__link(href="")
          .group__name
            TestGroup
          .group__last-message
            最後のメッセージはありません
