.groups {
  background-color: $gray-dark;
  height: calc(100vh - 100px);
  padding:20px 20px 0;
  .group {
    color: $white;
    padding-bottom: 40px;
    &__name{
        font-size: 15px;
        padding-bottom: 5px;
    }
    &__text{
        font-size: 11px;
    }
  }
}
